body {
  background: #F2EFAF;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  color: #CC841D;
  padding: 10px 40px;
}

h1{
  font-weight: 100;
  font-size: 3em;
}

h2{
  font-weight: 100;
  font-size: 1.4em;
}

pre {
  min-width: 400px;
  max-width: 800px;
  background: #E7E4A7;
  color: #86856C;
  overflow: auto;
  border-radius: 6px;
  border: 1px #CC841D solid;
}

canvas {
  background: white;
  width: 400px;
  height: 300px;
  outline: 4px #aaa solid;
  cursor: crosshair;
}

#colorSampled {
  width: 20px;
  height: 20px;
  outline: 1px #aaa solid;
  margin: 10px;
}

.github-button {
  display: none;
}